header{
    background-color: red;
    color: gold;
    height: red;
}
 nav a{
    padding: 5px;
}
a{
   color: gold; 
   text-decoration: none;
}
a:hover{
    font-size: larger;
}
main{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
main article h2{
    text-align: center;
    text-decoration: underline;
}
aside{
    float: right;
    border: 2px solid black;
    padding: 10px;
}
